.mat-stepper-vertical {
    margin-top: 10px;
}

.completed {
    margin-left: 10rem;
    display: flex;
    justify-content: flex-start;
}

.icons {
    margin-right: 1.5rem;
    margin-top: 3.5rem;
}

.container {
    display: flex;
    justify-content: flex-start;
}

.btn {
    margin-right: 10rem;
    display: flex;
    justify-content: flex-end;
}