.container {
    display: flex;
    justify-content: flex-start;
}

.mat-form-field {
    margin-right: 5rem;
}

section {
    margin-left: 5rem;
}

.instruction {
    padding: 1rem 2.5rem 1rem 2.5rem;
    margin-left: 26px;
    background: rgba(177, 202, 201, 0.849);
    position: relative;
}

.instruction:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 100%;
    top: calc(0);
    border-top: 0 solid transparent;
    border-right: 3.5rem solid rgba(177, 202, 201, 0.849);
    border-bottom: 1.5rem solid transparent;
}